@import "tailwindcss";

html {
   scroll-behavior: smooth;
}

body {
   background-color: #c4c4c4;
   font-family: "Montserrat", sans-serif;
}

h3,
h2,
h1 {
   font-family: "cinzel", cursive;
}

.custom-container {
   @apply max-w-6xl mx-auto px-4 sm:px-6 lg:px-8;
}
